nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFF;
  padding: 0 1.5em 0 1.5em;
  font-size: 50px;
  display: flex;
  align-items: center;
}

nav span{
  font-family: 'Bungee', cursive;
  padding-top: 30px;
}